@import "tailwindcss";

.full-screen-bg{
  background-image: url("../public/bg-drum.jpeg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: scale(1.1);
}

.drum-machine-card{
  border-radius: 7px;
  border: 0px 0px 50px 20px black;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  
  background-image: url('../public/bg-drum.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  overflow: hidden;
}